{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": "2",
            "debug": false,
            "modules": false,
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie 11"
              ]
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": "2",
            "debug": false,
            "modules": false,
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie 11"
              ]
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": "2",
            "debug": false,
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie 11"
              ]
            }
          }
        ]
      ]
    }
  }
}

